@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 100% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 100% 0%;
    --primary-foreground: 200 6% 30%;
    
    --radius: 0.5rem;
    
    /* CUSTOMS */
    --staticblack: 200 7% 17%;
    --staticblack-foreground: 200 6% 20%;

    --reversed: 0 0% 100%;
    --reversed-foreground: 0 0% 9%;
    
    --whitetomidgray: 200 6% 10%;
    --whitetomidgray-foreground: 0 100% 99%;
    
    --bluetowhite: 211 100% 70%;
    --bluetowhite-foreground: 211 100% 70%;

    --bluetomidgray: 211 100% 70%;
    --bluetomidgray-foreground: 0 0% 9%;
  }
  
  .dark {
    --background: 200 6% 10%;
    --foreground: 0 0% 3.9%;
    --primary: 200 7% 17%;
    --primary-foreground: 200 6% 30%;
    
    --radius: 0.5rem;
    
    /* CUSTOMS */
    --staticblack: 200 7% 17%;
    --staticblack-foreground: 200 6% 20%;

    /* neutral */
    --reversed: 200 7% 17%;
    --reversed-foreground: 0 0% 9%;

    /* muted */
    --whitetomidgray: 0 0% 100%;
    --whitetomidgray-foreground: 0 0% 45.1%;
    
    /* colourless */
    --bluetowhite: 0 0% 100%;
    --bluetowhite-foreground: 0 0% 100%;

    /* dull */
    --bluetomidgray: 0 0% 20%;
    --bluetomidgray-foreground: 0 0% 9%;
  }
}

